extends layout

block head
    link(rel="stylesheet", href="/css/play.css")

block content
    div.bg-light
        div.container.py-5
            div.row.mb-2
                div.col.text-center
                    div.btn-group
                        a(href="/play/solo")
                            button.btn.btn-primary(class=gameMode === 'solo' ? 'active' : '') Solo
                        a(href="/play/duo")
                            button.btn.btn-primary(class=gameMode === 'duo' ? 'active' : '') Duos
                        a(href="/play/squad")
                            button.btn.btn-primary(class=gameMode === 'squad' ? 'active' : '') Squads
            div.row.mb-3
                div.col.text-center
                    case gameMode
                        when 'solo'
                            div.badge.badge-secondary.align-top #[span#online-counter 0] Waiting to Play Solo
                        when 'duo'
                            div.badge.badge-secondary.align-top.mb-2 #[span#online-counter 0] Waiting to Play Duos
                            div.row
                                div.offset-lg-3.col-lg-6
                                    div.alert.alert-light
                                        small #[strong Heads up!] All players in your Fortnite party must be verified Ranked Royale users for your duo's stats to be tracked.
                        when 'squad'
                            div.badge.badge-secondary.align-top.mb-2 #[span#online-counter 0] Waiting to Play Squads
                            div.row
                                div.offset-lg-3.col-lg-6
                                    div.alert.alert-light
                                        small #[strong Heads up!] All players in your Fortnite party must be verified Ranked Royale users for your squad's stats to be tracked.
            div.row.mb-5
                div.offset-lg-3.col-lg-6
                    div.d-flex.flex-column.justify-content-center.bg-white
                        if user.epicGamesAccount
                            if isFriend
                                div#step-1.text-center
                                    case gameMode
                                        when 'solo'
                                            p.mb-0 Match in progress, next #[strong Solo] match in...
                                        when 'duo'
                                            p.mb-0 Match in progress, next #[strong Duos] match in...
                                        when 'squad'
                                            p.mb-0 Match in progress, next #[strong Squads] match in...
                                    h1.display-4 0s

                                div#step-2.text-center
                                    h1.display-4 GLHF
                                    p You're in a match with #[strong#in-match-counter 0] Ranked Royale player(s).
                                    hr
                                    div.row.mb-1
                                        div.col
                                            small.text-muted Ranked Royale Servers
                                    div#servers.row
                            else
                                div.text-center
                                    p.lead Uh-oh! Before you can play, Ranked Royale must be your friend.
                                    small Please add #[strong Ranked Royale] as a friend in Fortnite, then refresh this page.
                        else
                            div.text-center
                                p.lead Uh-oh! Before you can play we must verify your Epic Games account.
                                a(href="/profile")
                                    button.btn.btn-large.btn-secondary Connect Account

            div.row
                div.offset-lg-3.col-lg-6
                    div.row.text-center
                        div.col
                            h1 #[i.fas.fa-clock]
                            h6 Wait For Countdown
                            h1.text-muted #[i.fas.fa-angle-right.position-absolute(style="top: 0.5em; right: 0;")]
                        div.col
                            h1 #[i.fas.fa-mouse-pointer]
                            h6 Press Play #[br] In Fortnite
                            h1.text-muted #[i.fas.fa-angle-right.position-absolute(style="top: 0.5em; right: 0;")]
                        div.col
                            h1 #[i.fas.fa-trophy]
                            h6 Win!

block scripts
    script.
        var gameMode = '#{gameMode}';
        var host = '#{host}';
        var userId = '#{user._id}';
    script(src="/js/play.bundle.js")
