extends layout

block head
    link(rel="stylesheet", href="/css/profile.css")

block content
    include includes/navbar

    main.container.py-5
        div.row
            div.col-md-4.order-md-2
                div.card.mb-3
                    h5.card-header Your Epic Account
                    div.card-body
                        if !user.epicGamesAccount
                            button.btn.btn-block.btn-secondary(type="button", data-toggle="modal", data-target="#connect-modal") Connect Epic Games Account
                        else
                            h6 Display Name
                            p= user.epicGamesAccount.displayName
                            div.row
                                div.col
                                    h6 Platform
                                    if user.epicGamesAccount.platform === 'pc'
                                        p #[i.fas.fa-desktop] PC
                                    else if user.epicGamesAccount.platform === 'ps4'
                                        p #[i.fab.fa-playstation] PlayStation 4
                                    else if user.epicGamesAccount.platform === 'xbox'
                                        p #[i.fab.fa-xbox] Xbox One
                                div.col
                                    h6 Region
                                    if user.epicGamesAccount.region === 'na-east'
                                        p NA East
                                    else if user.epicGamesAccount.region === 'na-east'
                                        p NA East
                                    else
                                        p.text-capitalize= user.epicGamesAccount.region


            div.col-md-8.order-md-1
                div.row
                    div.col
                        div.card.mb-3
                            h5.card-header.bg-primary.text-white #[img.align-top(src="/img/solo.png", width="24", height="24")] Solo
                            div.card-body.text-center
                                if user.stats.solo.matchesPlayed < 10
                                    h1.card-title.my-5 #{user.stats.solo.matchesPlayed}/10 #[small.text-muted Placement Matches]
                                else
                                    div.row.text-center.rank
                                        div.col
                                            if user.stats.solo.rating < 600
                                                img.img-fluid.mb-3(src="/img/ranks/bronze.png")
                                                h5.mb-0 Bronze
                                            else if 600 <= user.stats.solo.rating && user.stats.solo.rating < 1200
                                                img.img-fluid.mb-3(src="/img/ranks/silver.png")
                                                h5.mb-0 Silver
                                            else if 1200 <= user.stats.solo.rating && user.stats.solo.rating < 1800
                                                img.img-fluid.mb-3(src="/img/ranks/gold.png")
                                                h5.mb-0 Gold
                                            else if 1800 <= user.stats.solo.rating && user.stats.solo.rating < 2400
                                                img.img-fluid.mb-3(src="/img/ranks/platinum.png")
                                                h5.mb-0 Platinum
                                            else if 2400 <= user.stats.solo.rating
                                                img.img-fluid.mb-3(src="/img/ranks/epic.png")
                                                h5.mb-0 Epic
                                            p.text-muted= user.stats.solo.rating
                                hr
                                div.row
                                    div.col-6.col-md-4.col-lg-2
                                        h6 Matches
                                        p= user.stats.solo.matchesPlayed
                                    div.col-6.col-md-4.col-lg-2
                                        h6 Kills
                                        p= user.stats.solo.kills
                                    div.col-6.col-md-4.col-lg-2
                                        h6 K/D
                                        p= (parseFloat(user.stats.solo.kills / user.stats.solo.matchesPlayed || 0).toFixed(2))
                                    div.col-6.col-md-4.col-lg-2
                                        h6 Top 25
                                        p= user.stats.solo.placeTop25
                                    div.col-6.col-md-4.col-lg-2
                                        h6 Top 10
                                        p= user.stats.solo.placeTop10
                                    div.col-6.col-md-4.col-lg-2
                                        h6 Wins
                                        p= user.stats.solo.placeTop1
                                small.text-muted Stats are updated when a match ends.
                            div.card-footer
                                small.text-muted Last updated #{distanceInWordsToNow.solo} ago.
                div.row
                    div.col
                        div.card.mb-3
                            h5.card-header.bg-primary.text-white #[img.align-top(src="/img/duos.png", width="24", height="24")] Duos
                            div.card-body
                                div.alert.alert-warning.mb-0
                                    h4.alert-heading Coming soon!
                                    p Visit our #[a(href="https://trello.com/b/eLXFD7MI/ranked-royale", target="_blank") Trello board] to see what we're working on.
                div.row
                    div.col
                        div.card.mb-3
                            h5.card-header.bg-primary.text-white #[img.align-top(src="/img/squads.png", width="24", height="24")] Squads
                            div.card-body
                                div.alert.alert-warning.mb-0
                                    h4.alert-heading Coming soon!
                                    p Visit our #[a(href="https://trello.com/b/eLXFD7MI/ranked-royale", target="_blank") Trello board] to see what we're working on.
                if matches.length
                    div.row
                        div.col
                            div.card
                                h5.card-header.bg-primary.text-white Recent Matches
                                div.card-body#recent-matches
                                    table.table.table-striped.table-borderless
                                        thead
                                            tr
                                                th Mode
                                                th Kills
                                                th Top 25
                                                th Top 10
                                                th Win
                                                th Rating Change
                                        tbody
                                            each match in matches
                                                if match.stat
                                                    tr
                                                        th.text-capitalize= match.gameMode
                                                        td= match.stat.kills
                                                        if match.stat.placeTop25
                                                            td #[i.fas.fa-check]
                                                        else
                                                            td #[i.fas.fa-times]
                                                        if match.stat.placeTop10
                                                            td #[i.fas.fa-check]
                                                        else
                                                            td #[i.fas.fa-times]
                                                        if match.stat.placeTop1
                                                            td #[i.fas.fa-check]
                                                        else
                                                            td #[i.fas.fa-times]
                                                        if match.stat.eloDelta === 0
                                                            td.text-warning= match.stat.eloDelta
                                                        else if match.stat.eloDelta > 0
                                                            td.text-success +#{match.stat.eloDelta}
                                                        else
                                                            td.text-danger -#{match.stat.eloDelta}
                                                else
                                                    tr
                                                        th.text-capitalize= match.gameMode
                                                        td(colspan="5") Match in progress...

    if !user.epicGamesAccount
        div#connect-modal.modal.fade(tabindex="-1")
            div.modal-dialog.modal-dialog-centered
                div.modal-content
                    div.modal-header
                        h5.modal-title Connect Epic Games Account
                        button.close(type="button", data-dismiss="modal")
                            span &times;
                    div.modal-body
                        div#connect-modal-step-1
                            p Before you can start playing, we need to verify your Epic Games account. Send a friend request in Fortnite to #[b Ranked Royale]. We'll send you a unique code to enter on the next step.
                            small.text-muted If the friend request is not accepted or you do not receive a message within one minute, please remove the friend and try again.
                        div#connect-modal-step-2.d-none
                            form.needs-validation(novalidate)
                                div.row
                                    div.col
                                        div.form-group
                                            label Platform
                                            select(name="platform", required).form-control
                                                option(value="pc", selected) PC
                                                option(value="ps4") PlayStation 4
                                                option(value="xbox") Xbox One
                                    div.col
                                        div.form-group
                                            label Region
                                            select(name="region", required).form-control
                                                option(value="na-east", selected) NA East
                                                option(value="na-west") NA West
                                                option(value="europe") Europe
                                                option(value="oceania") Oceania
                                                option(value="brazil") Brazil
                                                option(value="asia") Asia
                                div.form-group
                                    label Code
                                    input.form-control(type="text", name="code", pattern="[0-9]{6}", required)
                                    small.form-text.text-muted This is the code sent to you by Ranked Royale.
                                div.alert.alert-danger.d-none
                    div.modal-footer
                        button.btn.btn-primary(type="button") Continue

    include ./includes/footer

block scripts
    script(src="/js/profile.bundle.js")
