extends layout

block head
    link(rel="stylesheet", href="/css/profile.css")

block content
    include includes/navbar

    div.container.py-5
        div.row
            div.col-md-4.order-md-2
                div.card
                    h5.card-header Your Epic Account
                    div.card-body
                        if user.epicGamesAccount === null
                            button.btn.btn-block.btn-primary(type="button", data-toggle="modal", data-target="#connect-modal") Connect Epic Games Account
                        else
                            dl.row
                                dt.col Display Name
                                dd.col= user.epicGamesAccount.displayName


            div.col-md-8.order-md-1
                div.row
                    div.col-md-12
                        div.card.mb-3
                            h5.card-header Solo
                            div.card-body
                                div.row
                                    div.col-4
                                        img.img-fluid(src="/img/gold.png")
                                    div.col-8
                                        dl.row
                                            dt.col-sm-3 Rank
                                            dd.col-sm-9= user.epicGamesAccount.displayName
                                            dt.col-sm-3 Matches
                                            dd.col-sm-9= user.epicGamesAccount.displayName
                                            dt.col-sm-3 Wins
                                            dd.col-sm-9= user.epicGamesAccount.displayName
                                            dt.col-sm-3 K/D
                                            dd.col-sm-9= user.epicGamesAccount.displayName
                            div.card-footer
                                small.text-muted Last updated 3 minutes ago.
                div.row
                    div.col
                        div.card.mb-3
                            h5.card-header Duos
                            div.card-body
                                div.alert.alert-primary Coming soon!
                div.row
                    div.col
                        div.card.mb-3
                            h5.card-header Squads
                            div.card-body
                                div.alert.alert-primary Coming soon!
                div.row
                    div.col
                        div.card
                            h5.card-header Recent Matches
                            div.card-body
                                div.alert.alert-primary Coming soon!

    div#connect-modal.modal.fade(tabindex="-1")
        div.modal-dialog.modal-dialog-centered
            div.modal-content
                div.modal-header
                    h5.modal-title Connect Epic Games Account
                    button.close(type="button", data-dismiss="modal")
                        span &times;
                div.modal-body
                    p Before you can start playing, we need to verify your Epic Games account. Send a friend request to #[b Ranked Royale] to get started. We'll send you a unique code to enter below.
                    p If the friend request is not accepted or you do not receive a message within one minute, please remove the friend and try again.
                    hr
                    form.needs-validation(novalidate)
                        div.form-group
                            label Code
                            input.form-control(type="text", name="code", pattern="[0-9]{6}", required)
                            small.form-text.text-muted Enter the code sent to you by Ranked Royale.
                div.modal-footer
                    button.btn.btn-secondary(type="button", data-dismiss="modal") Close
                    button.btn.btn-primary(type="button") Continue

    include ./includes/footer

    script(src="/js/profile.bundle.js")

